button {
    border: none;
    background: none;
}

a.button {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    width: 150px;
    gap: 8px;
    border-radius: 0.8rem;
    border-bottom: 1px solid var(--color-brown-100);
    transition: 0.5s;
}

a.button-dark {
    background-color: var(--bg-color);
}

a.button-dark:hover {
    border-color: var(--color-black-50);
    background-color: var(--color-black-50);
}

a.button-orange {
    background-color: var(--color-orange-600);
}

a.button-orange:hover {
    border-color: var(--color-orange-500);
    background-color: var(--color-orange-500);
}

@media screen and (min-width: 1000px) {
    a.button {
        width: 200px;
    }
}