@import "variables.css";
@import "typography.css";
@import "buttons.css";

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0.5rem;
}

nav img {
    height: 2rem;
}

nav i {
    color: var(--color-white);
}

nav div#menu-links {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

/* CSS do "main" */

header {
    display: flex;
    align-items: center;
    background-color: var(--color-orange-600);
    color: var(--color-white);
}

header > div {
    padding: 3rem 8rem 3rem 1.5rem;
}

header > div h1 {
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
}

section.highlights {
    color: var(--color-white);
    background-color: var(--bg-color);
}

section.highlights ol li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.numeration {
    color: var(--color-orange-600);
    font-weight: 500;
    font-size: var(--font-lg);
}

footer {
    background-color: var(--bg-color);
    color: var(--color-white);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
}

footer img {
    height: 2rem;
}

footer section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section#contacts p {
    margin-bottom: 0.5rem;
}

footer #contact-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-icon {
    background-color: var(--color-white);
    color: var(--bg-color);
    height: 28px;
    width: 28px;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon:hover, .contact-icon:active {
    background-color: var(--color-orange-600);
}

footer #contact-icons a:nth-child(2) span i {
    padding-left: 0.1rem;
}