@import "variables.css";
@import "typography.css";
@import "buttons.css";

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-black-50);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0.5rem;
}

nav img {
    height: 2rem;
}

nav i {
    color: var(--color-white);
}

nav div#menu-links {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

/* CSS do "main" */
main {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--color-orange-600);
    color: var(--color-white);
}

header > div {
    padding-block: 3rem;
    padding-inline: 1.5rem 7rem;
    width: 70vw;
}

header > div h1 {
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
}

section.highlights {
    background-image: url('../assets/images/highlights-background.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    color: var(--color-white);
    padding-inline: 1rem;
    padding-block: 0.5rem 6rem;
    text-align: center;
}

.highlight-items {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.highlight-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding-left: 2rem;
    text-align: start;
}

.highlight-item p {
    width: 70vw;
}


.highlight-numeration {
    color: var(--color-orange-600);
    font-weight: 500;
    font-size: 3rem;
}

#gradient {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 54px;
    background: linear-gradient(360deg, #12100E 0%, rgba(18, 16, 14, 0) 79.55%);
}

footer {
    background-color: var(--bg-color);
    color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
}

footer img {
    height: 2rem;
}

footer section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section#contacts p {
    margin-bottom: 0.5rem;
}

footer #contact-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-icon {
    background-color: var(--color-white);
    color: var(--bg-color);
    height: 28px;
    width: 28px;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon:hover, .contact-icon:active {
    background-color: var(--color-orange-600);
}

footer > p {
    font-size: var(--font-sm);
}