@import "variables.css";
@import "buttons.css";
@import "typography.css";
@import "animations.css";

html {
    scroll-behavior: smooth;
}

.logo {
    height: 2rem;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: var(--bg-color);
    animation: topDownLoad 2s forwards;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding-block: 0.5rem;
    padding-inline: 0.8rem;
    min-height: 2rem;
}

nav i {
    color: var(--color-white);
}

#dropdown-links {
    background-color: var(--bg-color);
    width: 100%;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

#desktop-nav-links {
    display: none;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/images/header-background.jpg');
    display: flex;
    align-items: center;
    color: var(--color-white);
}

header > div {
    padding-block: 3rem;
    padding-inline: 3rem 7rem;
}

header h1 {
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
}

/* CSS do "main" */
section#highlights {
    background-color: var(--color-black-50);
    background-image: url('../assets/images/highlights-background.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    color: var(--color-white);
    padding-inline: 1rem;
    padding-block: 0.5rem 6rem;
    text-align: center;
    position: relative;
}

.highlight-items {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.highlight-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding-left: 2rem;
    text-align: start;
}

.highlight-item p {
    width: 70vw;
}


.highlight-numeration {
    color: var(--color-orange-600);
    font-weight: 500;
    font-size: 3rem;
}

#gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 54px;
    width: 100%;
    background: linear-gradient(360deg, #12100E 0%, rgba(18, 16, 14, 0) 79.55%);
}

section#about {
    color: var(--color-white);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-inline: 3rem;
}

section#about > .button {
    margin-top: 1rem;
}

footer {
    background-color: var(--bg-color);
    color: var(--color-white);
    width: 100%;
    padding: 1.5rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

footer#logo {
    height: 2rem;
}

footer section#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section#contacts p {
    margin-bottom: 0.5rem;
}

footer #contact-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-icon {
    background-color: var(--color-white);
    color: var(--bg-color);
    height: 1.7em;
    width: 1.7em;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.contact-icon:is(:hover, :active) {
    background-color: var(--color-orange-600);
}

#credits {
    font-size: var(--font-sm);
}

@media screen and (min-width: 1000px) {
    .logo {
        height: 2.5rem;
    }

    nav {
        height: 2.5rem;
    }

    nav a.button-orange {
        color: var(--color-white);
        font-weight: 500;
        padding-inline: 0.8rem;
        padding-block: 0.3rem;
        border-radius: 12px;
        text-decoration: none;
        transition: 0.5s;
    }
    
    nav #dropdown-toggle-button {
        display: none;
    }

    nav #desktop-nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header {
        background-image: url('../assets/images/header-background-desktop.jpg');
        min-height: 700px;
        height: 85vh;
    }

    header > div {
        padding-left: 4rem;
    }

    header h1 {
        max-width: 450px;
    }

    section#highlights {
        background-image: url('../assets/images/highlights-background-desktop.png');
    }

    .highlight-items {
        align-items: flex-start;
        padding-block: 5rem;
        padding-inline: 10rem;
        gap: 12rem;
    }

    .highlight-item {
        flex-direction: row;
        align-items: center;
        max-width: 500px;
    }

    li.highlight-item:nth-child(odd) {
        align-self: flex-end;
        text-align: right;
        flex-flow: row-reverse;
    }

    section#about {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-inline: 10rem;   
        gap: 2rem;
    }

    #credits {
        font-size: var(--font-sm-desktop);
    }

    footer {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "logo credits contacts";
    }

    footer section#contacts {
        grid-area: contacts;
    }

    footer p#credits {
        grid-area: credits;
    }
}