body {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: var(--font-md);
}

h1, h2, h3, h4, h5, h6, strong, em {
    font-weight: 500;
    font-size: var(--font-lg);
}

.link {
    color: var(--color-white);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.link:hover, .link:active {
    color: var(--color-gray);
}

.subtitle {
    font-size: var(--font-sm);
    color: var(--color-white);
    opacity: 60%;
}